@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		interpolate-size: allow-keywords;
	}
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}
/* end of Josh's reset */

/* My CSS */
:root {
	font-size: 16px;

	/* font size */
	--f-m: 1.125rem; /* 18px */
	--f-l: 1.25rem; /* 20px */
	--f-xl: 1.5rem; /* 24px */

	/* line height */
	--lh-tight: 1.2;
	--lh-relaxed: 1.75;

	/* spacing rem */
	--rem-0-25: 0.25rem;
	--rem-0-50: 0.5rem;
	--rem-1: 1rem;
	--rem-1-50: 1.5rem;
	--rem-2: 2rem;
	--rem-3: 3rem;
	--rem-4: 4rem;
	--rem-5: 5rem;

	/* contextual spacing */
	--em-0-25: 0.25em;
	--em-0-5: 0.5em;
	--em-1: 1em;
	--em-1-50: 1.5em;
	--em-2: 2em;

	/* colors  */
	--bg-clr: #1e2019;
	--hover-clr: #77e9996c;
	--border-clr: #77e999;
	--shadow: 0 0 var(--rem-1) #77e99933;
	--shadow-red: 0 0 var(--rem-1) #e9777791;

	--text-clr-light: #d3d0cb;
	--text-clr-dark: #1e2019;

	/* UI validation */
	--success-clr: #0fc975;
	--focus-clr: #fff697;
	--error-clr: #ff897e;
}

/* utilities */
.container {
	width: 80%;
	max-width: 750px;
	margin: 0 auto;
}

/* general */

body {
	background-color: var(--bg-clr);
	color: var(--text-clr-light);
	font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
	border-bottom: 1px solid var(--border-clr);
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--rem-1);
}

button {
	cursor: pointer;
	border: none;
	height: fit-content;
	font-weight: 500;
	background-color: var(--border-clr);
	color: var(--text-clr-dark);
	padding: var(--em-0-25) var(--em-1);
	border-radius: var(--rem-0-50);
	transition: box-shadow 0.3s ease;
}

button:hover {
	box-shadow: var(--shadow);
}
.cancel__btn,
.delete__btn {
	background-color: var(--error-clr);
}

.cancel__btn:hover,
.delete__btn:hover {
	box-shadow: var(--shadow-red);
}

/* dialog, aka. modal */
dialog {
	background-color: var(--bg-clr);
	color: var(--text-clr-light);
	border: none;
	margin: var(--rem-4) auto;
}

::backdrop {
	background-color: var(--bg-clr);
}

.start__message {
	text-align: right;
	font-weight: normal;
	margin-top: var(--rem-2);
	margin-right: var(--rem-5);
}

/* form */
form {
	padding: var(--rem-2);
	border: 2px solid var(--border-clr);
	border-radius: var(--rem-0-50);
	width: 60ch;
	line-height: var(--lh-relaxed);
	box-shadow: var(--shadow);
}

.form__title {
	text-align: center;
	margin-bottom: var(--rem-1);
	font-size: var(--f-xl);
}

.form-group {
	margin-bottom: var(--rem-1);
	display: flex;
	flex-direction: column;
	gap: var(--rem-0-25);
}

label {
	font-weight: 500;
}

input,
select {
	background-color: transparent;
	color: var(--text-clr-light);
	border: 2px solid var(--border-clr);
	border-radius: var(--rem-0-50);
	padding: var(--rem-0-50);
	line-height: var(--lh-tight);
	transition: border-color 0.3s ease;
}

input:focus,
select:focus {
	outline: none;
	border-color: var(--focus-clr);
}

.form__buttons {
	margin-top: var(--rem-2);
	display: flex;
	justify-content: space-around;
}

/* form validation */
input:user-valid {
	border-color: var(--success-clr);
}

input:user-invalid {
	border-color: var(--error-clr);
}

/* table */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: var(--rem-1-50);
}

thead tr {
	text-align: left;
	font-size: var(--f-m);
}

th,
td {
	padding: var(--em-1) var(--em-0-5);
	border-bottom: 1px solid var(--border-clr);
}

.book__title {
	font-weight: bold;
	font-style: italic;
}
